:root {
  --clr-main: #d75b4c;
  --clr-dark: #333;
  --clr-neutral: #ddd;
  --clr-light: #fff;
}

.btn {
  padding: 1em 3em;
  margin-bottom: 2rem;
  border: none;
  border-radius: 1.5em;
  background-color: var(--clr-main);
  font-family: inherit;
  color: var(--clr-light);
  transition: filter 0.15s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  filter: brightness(1.1);
}

// .modal {
//   position: fixed;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.5);
//   opacity: 0;
//   visibility: hidden;
//   transform: scale(1.1);
//   transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
//   z-index: 9999999;
// }

// .modal-content {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   background-color: white;
//   padding: 2rem 2.5rem;
//   width: 30em;
//   border-radius: 0.5rem;
// }

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 700px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
//   animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

.close-button {
  float: right;
  width: 1.5rem;
  font-size: 1.2em;
  line-height: 1;
  padding: 0 0.2em 0.15em;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: var(--clr-neutral);
  color: var(--clr-dark);
  transition: color 0.12s ease-in-out;
}

.close-button:hover {
  color: var(--clr-main);
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content h2 {
  text-align: center;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.image-container img {
  width: 45%;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: 2px solid transparent;
  border-radius: 5px;
}

.image-container img:hover {
  transform: scale(1.05);
}

.image-container img.selected {
  border: 2px solid #000;
}

.modal-header {
  text-align: center;
  margin-bottom: 20px;
//   padding: 20px;
//   background-size: cover;
//   border-radius: 10px;
  color: #000;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
}


.modal-body {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
}

.theme-option {
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background: transparent;
}

.theme-option img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: 2px solid transparent; 
}

.theme-option img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.theme-label {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

.theme-option img.selected {
  box-shadow: 0 0 10px #007bff;
  border-radius: 10px;
}